<kendo-multiselect
    [data]="items()"
    [textField]="config.textField!"
    [valueField]="config.valueField!"
    [(ngModel)]="value"
    [valuePrimitive]="config.valuePrimitive!"
    [loading]="loading()"
    [disabled]="config.disabled!"
    [readonly]="config.readonly!"
    [filterable]="config.filterable!"
    [placeholder]="config.placeholder!"
    [autoClose]="config.autoClose!"
    (open)="onOpen()"
    (close)="onClose()"
    (filterChange)="onFilterChange($event)"
    (valueChange)="onValueChange($event)">
</kendo-multiselect>